WANDB_API_KEY=your_wandb_api_key_here

WANDB_ENTITY=shinkaryovae-set-university
WANDB_PROJECT=fanpulse-worldcup-mlops
WANDB_MODEL_ARTIFACT=shinkaryovae-set-university/fanpulse-worldcup-mlops/fanpulse-impression-classifier:production

MODEL_CACHE_DIR=/app/model_cache