# Python
__pycache__/
*.pyc
.venv/
.ipynb_checkpoints/

# Env
.env

# Label Studio local database/storage
label_studio_data/
mydata/

# DVC cache
.dvc/cache/

# Large data is tracked by DVC, not Git
# Ignore raw data files, but keep DVC metadata
data/raw/**
!data/raw/
!data/raw/.gitignore
!data/raw/*.dvc
!data/raw/**/*.dvc
data/interim/**
!data/interim/
!data/interim/.gitignore
!data/interim/*.dvc
!data/interim/**/*.dvc
data/labeled/**
!data/labeled/
!data/labeled/.gitignore
!data/labeled/*.dvc
!data/labeled/**/*.dvc
data/processed/**
!data/processed/
!data/processed/.gitignore
!data/processed/*.dvc
!data/processed/**/*.dvc

# But allow small reference configs and labeling configs
!data/reference/
!data/reference/**
!data/labeling/
!data/labeling/tasks/
!data/labeling/tasks/*.json
!data/labeling/tasks/*.jsonl

# Models/artifacts
models/
artifacts/
.idea/